<swiper-container autoplay="false">
  @for (item of data; track $index) { @if (data.length > 0) {
  <swiper-slide>
    <app-car-card
      [image]="item.image"
      [name]="item.name"
      [year]="item.year"
      [type]="item.type"
      [engine]="item.engine"
      [size]="item.size"
      [price]="item.price"
    >
    </app-car-card>
  </swiper-slide>
  } } @if (data.length === 0) {
  <div class="not-found-filter">
    Náo foi encontrado nenhum carro com essas especificações 😿😿
    <a [routerLink]="['/filter']"><button>Voltar para os filtros</button></a>
  </div>
  }
</swiper-container>
