<div class="container">
  <div class="header">
    <i class="bx bx-search"></i>
    <p>BUSCA</p>
  </div>
  <div class="actions">
    <div (click)="closeFilters()">CANCELAR</div>
    <div>FILTROS</div>
    <div (click)="removeFilters()">LIMPAR</div>
  </div>
  <mat-accordion multi="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Tipos de carrocerias </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="types-wrapper">
        @for (item of types; track $index) {
        <mat-checkbox
          [checked]="item.selected"
          class="example-margin"
          (change)="selectType(item, $index)"
          >{{ item.text }}</mat-checkbox
        >
        }
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Tipos de motores </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-items-wrapper">
        @for (item of engines; track $index) {
        <div
          class="filter-item"
          [class]="{ selected: item?.selected }"
          (click)="selectEngine(item, $index)"
        >
          Motor {{ item.text }}
        </div>
        }
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Quantidade de lugares </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="filter-items-wrapper">
        @for (item of sizes; track $index) {
        <div
          class="filter-item"
          [class]="{ selected: item?.selected }"
          (click)="selectSize(item, $index)"
        >
          {{ item.text }}
        </div>
        }
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="apply-filters">
    <button (click)="applyFilters()">APLICAR FILTRO</button>
  </div>
</div>
