.car-card {
  width: fit-content;
  min-height: 250px;
  max-height: 250px;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;

  -webkit-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);

  img {
    max-width: 220px;
    height: 120px;
  }

  h1 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 20.7px;
  }

  p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 20.7px;
  }
}
