<div class="header">
  <i class="bx bx-phone"></i>
  <p>Central</p>
</div>
<div class="container">
  <div class="contact-methods">
    <h2>Nossos meios de contato</h2>
    <p><b>Telefone: </b>11 91134-2345</p>
    <p><b>E-mail: </b>{{'carlos.silva@happmob.com'}}</p>
    <p><b>Endereço: </b>Av. Queiroz Filho, 1700 - Casa 21 - Vila Hamburguesa, São Paulo - SP, 05317-000</p>
  </div>

  <div class="email-send">
    <h2>Se preferir, nos envie um e-mail</h2>

    <form>
      <input placeholder="Nome completo" type="text"/>
      <input placeholder="E-mail" type="email"/>
      <input placeholder="Assunto" type="text"/>
      <textarea rows="10" placeholder="Mensagem"></textarea>
      <button>Enviar</button>
    </form>
  </div>
</div>