@import "@ng-select/ng-select/themes/default.theme.css";

html {
  font-size: 62.5%;
  color: #1d2b3a;
}

* {
  font-family: "Inter", sans-serif !important;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  border: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  &::placeholder {
    color: #1d2b3a;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

//Editando label checkbox angular material
.mat-internal-form-field > label {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
}

//Editando checkbox angular material
.mdc-checkbox__background {
  border-radius: 4px !important;
}

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  background-color: #ffffff !important;
  border-color: #1d2b3a !important;

  &::before {
    content: " " !important;
    position: absolute !important;
    top: 3px !important;
    left: 3px !important;
    right: 3px !important;
    bottom: 3px !important;
    background-color: #c61d35 !important;
    border-radius: 2px;
  }
}

.mdc-checkbox__checkmark {
  display: none !important;
}

//Editando accordion angular material
.mat-expansion-panel-body {
  padding: 15px 10px !important;
  background: #ffffff !important;
}

.mat-expansion-indicator svg {
  fill: #c61d35 !important;
}

//ng-select styles
.ng-select .ng-select-container {
  padding: 15px !important;
  border-radius: 10px !important;
  border: none;

  background-color: white !important;

  -webkit-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  box-shadow: 0px 2px 5px 0px rgba(212, 212, 212, 1) !important;

  &::placeholder {
    font-weight: 400 !important;
    font-size: 1.6rem !important;
    color: rgba(0, 0, 0, 0.53) !important;
  }
}

.mat-mdc-form-field {
  background-color: white !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper,
.mat-focused .mat-form-field-label {
  // padding: 5px !important;
  border-radius: 10px !important;
  background-color: white !important;

  -webkit-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  -moz-box-shadow: 15px 10px 24px 0px rgba(212, 212, 212, 1);
  box-shadow: 0px 2px 5px 0px rgba(212, 212, 212, 1) !important;
  border: none;
  &::placeholder {
    font-weight: 400 !important;
    font-size: 1.6rem !important;
    color: rgba(0, 0, 0, 0.53) !important;
  }
}

.mat-mdc-form-field-infix {
  background: white !important;
}

.mdc-line-ripple {
  display: none !important;
}

.mat-mdc-form-field-infix {
  padding: 10px !important;
  min-height: 30px !important;
  background: white !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  background: white !important;
}

.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  background: white !important;
}